# Dependencies
node_modules/

# Environment configurations containing secrets
.env

# Session states and databases
src/storage/auth.json
src/storage/oms_alerts.db
src/storage/oms_alerts.db-journal
src/storage/browser_profile/


# Outputs & temporary folders
screenshots/
logs/
.gemini/
